{% extends 'main.html' %}
{% block main %}

<div class="home-tab">
    <div class="col-12 grid-margin">    
        <div class="d-sm-flex align-items-center justify-content-between border-bottom">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active ps-0" id="home-tab" data-bs-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Overview</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="services-tab" data-bs-toggle="tab" href="#services" role="tab" aria-selected="false">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="inspection-tab" data-bs-toggle="tab" href="#inspection" role="tab" aria-selected="false">Inspection</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="ppm-tab" data-bs-toggle="tab" href="#ppm" role="tab" aria-selected="false">PPM</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="calibration-tab" data-bs-toggle="tab" href="#calibration" role="tab" aria-selected="false">Calibration</a>
                </li>
            </ul>
            <div>
                <div class="btn-wrapper">
                    <a href="#" onclick="window.print()" class="btn btn-otline-dark"><i class="icon-printer"></i> Print</a>
                </div>
            </div>
        </div>
        <div class="tab-content tab-content-basic">
       
            <div class="card tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview" >
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <img class="img-fluid img-thumbnail" src="{{device[9]}}" title="{{device[4]}} {{device[3]}}" alt="{{device[4]}} {{device[3]}}" />
                        </div>
                        <div class="col-md-5">
                            <h1 style="color: rgb(0, 88, 165);" class="display-4">{{device[4]}} {{device[3]}}</h1>
                            <h4><span style="color: rgb(0, 102, 255) ;">{{device[0]}}</span></h4>
                            <h4>{{device[2]}}</h4>
                            <h4>{% if device[20] != "FF" %} {{device[20]}} - {{device[21]}} {% else %} {{device[20]}} {% endif %}</h4>
                            <h4>TRC: {{device[22]}}</h4>
                        </div>
                        <div class="col-md-1 text-md-end">
                            <h4 class="card-description">{{device[1]}}</h4> 
                            <h5>{{device[5].strftime('%Y')}}</h5>   
                        </div>
                        <div id="qrcode" class="col-md-2">
                            <center><img style="width: 310px;" src="{{device[24]}}" /></center>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <td>Country</td>
                                <td><img src="{{ url_for('static', filename='images/flags/1x1/') }}{{ device[8] }}.svg" alt="{{device[8]}}" title="{{device[8]}}" /> </td>
                            </tr>
                            <tr>
                                <td>Supply Date</td>
                                <td>{{device[6].strftime('%Y')}}</td>
                            </tr>
                            <tr>
                                <td>Location</td>
                                <td>{{device[7]}}</td>
                            </tr>
                            <tr>
                                <td>Contract</td>
                                <td>
                                    {% if device[10] != "Local" %}
                                        {{device[10]}} <br> From <b style="color: rgb(0, 61, 114);">{{device[11]}}</b> TO <b style="color: rgb(0, 61, 114);">{{device[12]}}</b>
                                    {% else %} 
                                        {{device[10]}} 
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>Code</td>
                                <td>{{device[23]}}</td>
                            </tr>
                            <tr>
                                <td>Terms</td>
                                <td>{% if device[13] == "" %} __ {% else %} {{device[13]}} {% endif %}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
    
            <div class="card tab-pane fade" id="services" role="tabpanel" aria-labelledby="services">
                <div class="card-body">
                    <div class="d-sm-flex justify-content-between align-items-start">
                        <div>
                        <h4 class="card-title card-title-dash">Operations {{type}}</h4>
                        <p class="card-subtitle card-subtitle-dash">{{numOfResults}} Results.</p>
                        </div>
                        <div>
                        <button class="btn btn-primary btn-sm text-white mb-0 me-0" type="button"><i class="mdi mdi-alarm-plus"></i> Add new service</button>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                        <thead>
                            <tr>
                            <th>id</th>
                            <th>type</th>
                            <th>Scheduled Date</th>
                            <th>Done Date</th>
                            <th>Status</th>
                            <th>Service Order</th>
                            <th>Done</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for service in services %}
                                <tr>
                                    <td>{{service[0]}}</td>
                                    <td>{{service[1]}}</td>
                                    <td>{{service[3]}}</td>
                                    <td>{% if service[4] == None %} __ {% else %} {{service[4]}} {%endif%}</td>
                                    <td>
                                    {% if service[4] == None %}
                                        <label class="badge badge-warning">NOT YET</label>
                                    {% elif service[4].strftime('%Y-%m') <= service[3].strftime('%Y-%m') %}
                                        <label class="badge badge-success">On Time</label>
                                    {% elif service[4].strftime('%Y-%m') > service[3].strftime('%Y-%m') %}
                                        <label class="badge badge-danger">LATE</label>
                                    {% endif %}
                                    </td>
                                    <td><a href="/serviceOrder?id={{service[0]}}&type={{type}}"><button class="btn btn-dark btn-sm text-white mb-0 me-0" type="button"><i class="mdi mdi-printer"></i>Print Service Order</button></a></td>
                                    <td><a href="/completeService?id={{service[0]}}&type={{type}}"><button class="btn btn-success btn-sm text-white mb-0 me-0" type="button"><i class="mdi mdi-subdirectory-arrow-right"></i>Done</button></a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        </table>
                    </div>
                </div>
                <nav class="d-flex justify-content-center">
                    <ul class="pagination">
                    <li class="page-item {% if currpage<=1 %} disabled {% endif %}">
                        <a class="page-link" href="/device?sn={{device[0]}}&page={{currpage-1}}&type={{type}}" tabindex="-1">Previous</a>
                    </li>
                    {% for i in range(1,numofPages+1) %}
                        <li class="page-item {% if i == currpage %} active {% endif %}">
                            <a class="page-link" href="/device?sn={{device[0]}}&page={{i}}&type={{type}}">{{i}}</a>
                        </li>
                    {% endfor %}
                    
                    <li class="page-item {% if currpage>=numofPages %} disabled {% endif %}">
                        <a class="page-link" href="/device?sn={{device[0]}}&page={{currpage+1}}&type={{type}}">Next</a>
                    </li>
                    </ul>
                </nav>
            </div>
            
            <div class="card tab-pane fade" id="inspection" role="tabpanel" aria-labelledby="inspection">
                <div class="card-body">
                    <div id="inspection"></div>
                    <script>PDFObject.embed("{{device[15]}}", "#inspection",{height: "700px"});</script>
                </div>
            </div>
            <div class="card tab-pane fade" id="ppm" role="tabpanel" aria-labelledby="ppm">
                <div class="card-body">
                    <div id="ppm"></div>
                    <script>PDFObject.embed("{{device[16]}}", "#ppm",{height: "700px"});</script>
                </div>
            </div>

            <div class="card tab-pane fade" id="calibration" role="tabpanel" aria-labelledby="calibration">
                <div class="card-body">
                    <div id="calibration"></div>
                    <script>PDFObject.embed("{{device[18]}}", "#calibration",{height: "700px"});</script>
                </div>
            </div>
        </div>
        
        
    </div>
</div>
{% endblock %}
