{% extends 'main.html' %}
{% block main %}

<div class="col-sm-12">
    <div class="home-tab">
      <div class="d-sm-flex align-items-center justify-content-between border-bottom">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active ps-0" id="home-tab" data-bs-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Overview</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#thisMonth" role="tab" aria-selected="false">This Month</a>
          </li>
        </ul>
        <div>
          <div class="btn-wrapper">
            <a href="#" onclick="window.print()" class="btn btn-otline-dark"><i class="icon-printer"></i> Print</a>
          </div>
        </div>
      </div>
      <div id="PrimaryData" class="tab-content tab-content-basic">
        <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview"> 
          <div class="row">
            <div class="col-sm-12">
              <div class="statistics-details d-flex align-items-center justify-content-between">
                <div>
                  <p class="statistics-title">Number of devices</p>
                  <h3 class="rate-percentage">{{ num_of_devices }}</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Equipment Types</h4>
                  <canvas id="equipmentTypes"></canvas>
                </div>
              </div>
            </div>
            <div class="col-lg-4 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Technical Status</h4>
                  <canvas id="technicalStatus"></canvas>
                </div>
              </div>
            </div>
            <div class="col-lg-4 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Contract Type</h4>
                  <canvas id="contractType"></canvas>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Inspection</h4>
                  <canvas id="inspection"></canvas>
                </div>
              </div>
            </div>
            <div class="col-lg-4 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">PPM</h4>
                  <canvas id="ppm"></canvas>
                </div>
              </div>
            </div>
            <div class="col-lg-4 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Calibration</h4>
                  <canvas id="calibration"></canvas>
                </div>
              </div>
            </div>
          </div>                    
        </div>
        <div class="tab-pane fade" id="thisMonth" role="tabpanel" aria-labelledby="thisMonth"> 
          <div class="row">
            <div class="col-sm-12">
              <div class="statistics-details d-flex align-items-center justify-content-between">
                <div> 
                  <p class="statistics-title fw-bold">Devices need inspection</p>
                  <a class="link text-decoration-none" href="/services?type=inspection"><h3 class="display-6 fw-bold">{{  this_month["need_inspection"] }}</h3></a>
                </div>
                <div>
                  <p class="statistics-title fw-bold">Devices need PPM</p>
                  <a class="link text-decoration-none" href="/services?type=ppm"><h3 class="display-6 fw-bold">{{  this_month["need_ppm"] }}</h3></a>
                </div>
                <div class="d-none d-md-block">
                  <p class="statistics-title fw-bold">Devices need calibration</p>
                  <a class="link text-decoration-none" href="/services?type=calibration"><h3 class="display-6 fw-bold">{{  this_month["need_calibration"] }}</h3></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>



{% endblock %}
