<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{title}} | مستشفى الجمعية الشرعية للأطفال</title>
  <!-- QR Code -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/qrcode.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/html5-qrcode.js') }}"></script>

  <!-- plugins:css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='vendors/feather/feather.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendors/mdi/css/materialdesignicons.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendors/ti-icons/css/themify-icons.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendors/typicons/typicons.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendors/simple-line-icons/css/simple-line-icons.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendors/css/vendor.bundle.base.css') }}">
  <!-- endinject -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/vertical-layout-light/style.css') }}">
  <!-- endinject -->
  <!-- Stylesheet:css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <!-- endStyleSheet -->
  <!-- printStyle:css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/printStyle.css') }}" media="print">
  <!-- endPrintStyle -->
  <!-- pdfObject -->
  <script src="//mozilla.github.io/pdf.js/build/pdf.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/pdfjs-script.js') }}"></script> 
  <!-- ICON -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}" />
</head>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
        <div class="me-3">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-bs-toggle="minimize">
            <span class="icon-menu"></span>
          </button>
        </div>
        <div>
          <a class="navbar-brand brand-logo" href="{{ url_for('dashboard') }}">
            <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="logo" />
          </a>
          <a class="navbar-brand brand-logo-mini" href="{{ url_for('dashboard') }}">
            <img src="{{ url_for('static', filename='images/logo-mini.svg') }}" alt="logo" />
          </a>
        </div>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-top"> 
        <ul class="navbar-nav">
          <li class="nav-item font-weight-semibold d-none d-lg-block ms-0">
            <h1 class="welcome-text">Hello, <span class="text-black fw-bold">{{ session.username }}</span></h1>
            <h3 class="welcome-sub-text">Your performance summary this week</h3>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item d-none d-lg-block">
            <div id="datepicker-popup" class="input-group date datepicker navbar-date-picker">
              <span class="input-group-addon input-group-prepend border-right">
                <span class="icon-calendar input-group-text calendar-icon"></span>
              </span>
              <input type="text" class="form-control">
            </div>
          </li>
          <li class="nav-item">
            <form class="search-form" action="{{ url_for('search') }}">
              <i class="icon-search"></i>
              <input name="searchValue" type="search" class="form-control" placeholder="Search" title="Search">
            </form>
          </li>
          <li class="nav-item dropdown"> 
            <a class="nav-link count-indicator" id="countDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="icon-bell"></i>
              <span class="count"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0" aria-labelledby="countDropdown">
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <img src="{{ url_for('static', filename='images/placeholder.jpg') }}" alt="image" class="img-sm profile-pic">
                </div>
                <div class="preview-item-content flex-grow py-2">
                  <p class="preview-subject ellipsis font-weight-medium text-dark">Travis Jenkins </p>
                  <p class="fw-light small-text mb-0"> The meeting is cancelled </p>
                </div>
              </a>
            </div>
          </li>
          <li class="nav-item dropdown d-none d-lg-block user-dropdown">
            <a class="nav-link" id="UserDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
              <img class="img-xs rounded-circle" src="{{ url_for('static', filename='images/placeholder.jpg') }}" alt="Profile image"> </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
              <div class="dropdown-header text-center">
                <img class="img-sm rounded-circle" src="{{ url_for('static', filename='images/placeholder.jpg') }}" alt="Profile image">
                <p class="mb-1 mt-3 font-weight-semibold">{{ session.username }}</p>
              </div>
              <a href="{{ url_for('settings') }}" class="dropdown-item"><i class="dropdown-item-icon mdi mdi-settings text-primary me-2"></i>Settings</a>
              <a href="{{ url_for('logout') }}" class="dropdown-item"><i class="dropdown-item-icon mdi mdi-power text-primary me-2"></i>Sign Out</a>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-bs-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      <div class="theme-setting-wrapper">
        <div id="settings-trigger"><i class="ti-settings"></i></div>
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close ti-close"></i>
          <p class="settings-heading">Edit</p>
          
        </div>
      </div>
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('dashboard') }}">
              <i class="mdi mdi-view-dashboard menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('add_device') }}">
              <i class="mdi mdi-plus-box menu-icon"></i>
              <span class="menu-title">Add New Device</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('search') }}">
              <i class="mdi mdi-view-grid menu-icon"></i>
              <span class="menu-title">Devices List</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('services') }}">
              <i class="mdi mdi-animation menu-icon"></i>
              <span class="menu-title">Services List</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('settings') }}">
              <i class="mdi mdi-settings menu-icon"></i>
              <span class="menu-title">Settings</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            
            {% block main %}
            {% endblock %}

          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block"><a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © 2022. All rights reserved.</span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="{{ url_for('static', filename='vendors/js/vendor.bundle.base.js') }}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="{{ url_for('static', filename='vendors/chart.js/Chart.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/bootstrap-datepicker/bootstrap-datepicker.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/typeahead.js/typeahead.bundle.min.js') }}"></script>

  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/off-canvas.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/hoverable-collapse.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/template.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/settings.js') }}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.cookie.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/typeahead.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/chart.js') }}"></script> 
  <script type="text/javascript" src="{{ url_for('static', filename='js/myscript.js') }}"></script>
  
  <script>

    equipmentTypes = {% if equipments %} {{equipments | tojson | safe}} {% else %} [["",1],["",1],["",1]] {% endif %}
    technicalStatus = {% if technical_status %} {{technical_status | tojson | safe}} {% else %} [["",1],["",1],["",1]] {% endif %}
    contractType = {% if contracts %} {{contracts | tojson | safe}} {% else %} [["",1],["",1],["",1]] {% endif %}
    inspection = {% if inspections %} {{inspections | tojson | safe}} {% else %} [["",1],["",1],["",1]] {% endif %}
    ppm = {% if ppms %} {{ppms | tojson | safe}} {% else %} [["",1],["",1],["",1]] {% endif %}
    calibration = {% if calibrations %} {{calibrations | tojson | safe}} {% else %} [["",1],["",1],["",1]] {% endif %}

    buildChart(equipmentTypes, "equipmentTypes","pie");
    buildChart(technicalStatus, "technicalStatus","doughnut");
    buildChart(contractType, "contractType","pie");
    buildChart(inspection, "inspection","doughnut");
    buildChart(ppm, "ppm","doughnut");
    buildChart(calibration, "calibration","doughnut");  

  </script>
  
  <!-- End custom js for this page-->
</body>

</html>

