{% extends 'main.html' %}
{% block main %}

<div class="col-12 grid-margin">
    <div class="card search-card">
        <div class="card-body">
            <h3 class="card-title">Search</h3>
            <form class="search-form" action="{{ url_for('search') }}" method="post">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-1">     
                                <a class="btn btn-outline-dark btn-sm float-start" data-bs-toggle="offcanvas" href="#advancedSearch" role="button" aria-controls="advancedSearch">                   
                                    Advanced
                                </a>
                            </div>
                            <div class="col-md-10">
                                <input name="searchValue" type="search" class="form-control form-control-sm" placeholder="Search ..." title="Search" value="{% if search_value %}{{search_value}}{% endif %}">
                            </div>
                            <div class="col-md-1">
                                <input class="btn btn-inverse-dark btn-sm float-end" value="Search" type="submit">
                            </div>
                        </div>
                    </div>
                </div>
   
                <hr>

                <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="advancedSearch" aria-labelledby="advancedSearchLabel">
                    <div class="offcanvas-header">
                      <h5 class="offcanvas-title" id="advancedSearchLabel"><b>Advanced Search</b></h5>
                      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <div class="row">
                            <div class="col-md-12 form-1-box fadeInUp">
                                <!-- Categories -->
                                <fieldset class="form-group border p-3">
                                    <legend class="w-auto px-2">Category</legend>
                                    <div class="form-check">
                                        <input class="form-check-input save-cb-state" type="checkbox" name="category" id="MG" value="MG">
                                        <label class="form-check-label" for="MG"><strong>MG</strong></label>
                                    </div>
                                    <div class="form-check">
                                        <input  class="form-check-input save-cb-state" type="checkbox" name="category" id="EM" value="EM">
                                        <label class="form-check-label" for="EM"><strong>EM</strong></label>
                                    </div>
                                    <div class="form-check">
                                        <input  class="form-check-input save-cb-state" type="checkbox" name="category" id="BM" value="BM">
                                        <label class="form-check-label" for="BM"><strong>BM</strong></label>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-1-box fadeInUp">
                                <!-- Equipments -->
                                <fieldset class="form-group border p-3">
                                    <legend class="w-auto px-2">Equipment</legend>
                                    <div class="form-check">
                                        {% for equipment in Equipments %}
                                        <input  class="form-check-input save-cb-state" type="checkbox" name="equipment" id="{{equipment[0]}}" value="{{equipment[0]}}">
                                        <label class="form-check-label" for="{{equipment[0]}}"><strong>{{equipment[0]}}</strong></label>
                                        {% endfor %}
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-1-box fadeInUp">
                                <!-- Models -->
                                <fieldset class="form-group border p-3">
                                    <legend class="w-auto px-2">Models</legend>
                                    <div class="form-check">
                                        {% for model in Models %}
                                        <input  class="form-check-input save-cb-state" type="checkbox" name="model" id="{{model[0]}}" value="{{model[0]}}">
                                        <label class="form-check-label" for="{{model[0]}}"><strong>{{model[0]}}</strong></label>
                                        {% endfor %}
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-1-box fadeInUp">
                                <!-- Manufacturers -->
                                <fieldset class="form-group border p-3">
                                    <legend class="w-auto px-2">Manufacturers</legend>
                                    <div class="form-check">
                                        {% for manufacturer in Manufacturers %}
                                        <input  class="form-check-input save-cb-state" type="checkbox" name="manufacturer" id="{{manufacturer[0]}}" value="{{manufacturer[0]}}">
                                        <label class="form-check-label" for="{{manufacturer[0]}}"><strong>{{manufacturer[0]}}</strong></label>
                                        {% endfor %}
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-1-box fadeInUp">
                                <!-- Locations -->
                                <fieldset class="form-group border p-3">
                                    <legend class="w-auto px-2">Locations</legend>
                                    <div class="form-check">
                                        {% for location in Locations %}
                                        <input  class="form-check-input save-cb-state" type="checkbox" name="location" id="{{location[0]}}" value="{{location[0]}}">
                                        <label class="form-check-label" for="{{location[0]}}"><strong>{{location[0]}}</strong></label>
                                        {% endfor %}
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-1-box fadeInUp">
                                <!-- Countries -->
                                <fieldset class="form-group border p-3">
                                    <legend class="w-auto px-2">Countries</legend>
                                    <div class="form-check">
                                        {% for country in Countries %}
                                        <input  class="form-check-input save-cb-state" type="checkbox" name="country" id="{{country[0]}}" value="{{country[0]}}">
                                        <label class="form-check-label" for="{{country[0]}}">
                                            <strong>
                                                <img class="img-checkbox" src="{{ url_for('static', filename='images/flags/1x1/') }}{{ country[0] }}.svg" alt="{{country[0]}}" title="{{country[0]}}" />
                                            </strong>
                                        </label>
                                        {% endfor %}
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-1-box fadeInUp">
                                <!-- Contracts -->
                                <fieldset class="form-group border p-3">
                                    <legend class="w-auto px-2">Contract Types</legend>
                                    <div class="form-check">
                                        {% for contract in Contracts %}
                                        <input  class="form-check-input save-cb-state" type="checkbox" name="contract" id="{{contract[0]}}" value="{{contract[0]}}">
                                        <label class="form-check-label" for="{{contract[0]}}"><strong>{{contract[0]}}</strong></label>
                                        {% endfor %}
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-1-box fadeInUp">
                                <!-- Technical Status -->
                                <fieldset class="form-group border p-3">
                                    <legend class="w-auto px-2">Technical Status</legend>
                                    <div class="form-check">
                                        {% for categ in TechStatus %}
                                        <input  class="form-check-input save-cb-state" type="checkbox" name="technical-status" id="{{categ[0]}}" value="{{categ[0]}}">
                                        <label class="form-check-label" for="{{categ[0]}}"><strong>{{categ[0]}}</strong></label>
                                        {% endfor %}
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-1-box fadeInUp">
                                <!-- TRC -->
                                <fieldset class="form-group border p-3">
                                    <legend class="w-auto px-2">TRC</legend>
                                    <div class="form-check">
                                        {% for TRC in TRCS %}
                                        <input  class="form-check-input save-cb-state" type="checkbox" name="trc" id="{{TRC[0]}}" value="{{TRC[0]}}">
                                        <label class="form-check-label" for="{{TRC[0]}}"><strong>{{TRC[0]}}</strong></label>
                                        {% endfor %}
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
    
<div class="col-lg-12 grid-margin">
    <div {% if numOfResults != 0 %} hidden {% endif %} class="alert alert-warning" role="alert">No Results !</div>
    <div class="card">
        <div class="card-body">
            <div class="d-sm-flex justify-content-between align-items-start">
                <div>
                  <h4 class="card-title card-title-dash">Devices</h4>
                  <p class="card-subtitle card-subtitle-dash">{{numOfResults}} Results.</p>
                </div>
                <div>
                  <a href="/add-device" class="btn btn-primary btn-sm text-white mb-0 me-0"><i class="mdi mdi-plus-circle"></i> Add new device</a>
                  <a href="#" onclick="window.print()" class="btn btn-otline-dark printButt"><i class="icon-printer"></i> Print</a>
                </div>
              </div>
            <div class="table-responsive mt-3">
                <table class="table">
                  <thead>
                    <tr>
                      <th>S/N</th>
                      <th>Equipment</th>
                      <th>Model</th>
                      <th>Manufacturer</th>
                      <th>Location</th>
                      <th>Country</th>
                      <th>Code</th>
                      <th>Edit</th>
                      <th>Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for device in devices %}
                    <tr>
                        <td><b><a class="text-decoration-none" href="./device?sn={{device[0]}}">{{device[0]}}</a></b></td>
                        <td>{{device[1]}}</td>
                        <td>{{device[2]}}</td>
                        <td>{{device[3]}}</td>
                        <td>{{device[5]}}</td>
                        <td><img src="{{ url_for('static', filename='images/flags/1x1/') }}{{ device[6] }}.svg" alt="{{device[6]}}" title="{{device[6]}}" /></td>
                        <td>{{device[8]}}</td>
                        <td style="text-align: center;">
                            <a href="#/" class="search-item-link"><i class="mdi mdi-pencil-box text-warning"></i></a>
                        </td>
                        <td style="text-align: center;">
                            <!-- Text trigger modal -->
                            <a href="#/" data-bs-toggle="modal" data-bs-target="#staticBackdrop-{{device[0]}}" class="search-item-link"><i class="mdi mdi-delete-forever text-danger"></i></a>
                            <!-- Modal -->
                            <div class="modal fade" id="staticBackdrop-{{device[0]}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Delete Device</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure to delete this device with S/N {{device[0]}}?
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    <a href="/delete-device?sn={{device[0]}}" type="button" class="btn btn-primary">Yes</a>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
        </div>
        <nav class="d-flex justify-content-center">
            <ul class="pagination">
              <li class="page-item {% if currpage<=1 %} disabled {% endif %}">
                <a class="page-link" href="?page={{currpage-1}}" tabindex="-1">Previous</a>
              </li>
              {% for i in range(1,numofPages+1) %}
              <li class="page-item {% if i == currpage %} active {% endif %}"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
              {% endfor %}
              
              <li class="page-item {% if currpage>=numofPages %} disabled {% endif %}">
                <a class="page-link" href="?page={{currpage+1}}">Next</a>
              </li>
            </ul>
        </nav>
    </div>
</div>

<script>
    // Avoid scoping issues by encapsulating code inside anonymous function
    (function() {
      // variable to store our current state
      var cbstate;
      
      // bind to the onload event
      window.addEventListener('load', function() {
        // Get the current state from localstorage
        // State is stored as a JSON string
        cbstate = JSON.parse(localStorage['CBState'] || '{}');
      
        // Loop through state array and restore checked 
        // state for matching elements
        for(var i in cbstate) {
          var el = document.querySelector('input[id="' + i + '"]');
          if (el) el.checked = true;
        }
      
        // Get all checkboxes that you want to monitor state for
        var cb = document.getElementsByClassName('save-cb-state');
      
        // Loop through results and ...
        for(var i = 0; i < cb.length; i++) {
      
          //bind click event handler
          cb[i].addEventListener('click', function(evt) {
            // If checkboxe is checked then save to state
            if (this.checked) {
              cbstate[this.id] = true;
            }
        
        // Else remove from state
            else if (cbstate[this.id]) {
              delete cbstate[this.id];
            }
        
        // Persist state
            localStorage.CBState = JSON.stringify(cbstate);
          });
        }
      });
    })();
</script>
            
            


{% endblock %}
