{% extends 'main.html' %}
{% block main %}

<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Settings</h3>
            <div {% if status != 1 %} hidden {% endif %} class="alert alert-success" role="alert">Changes Done successfully. {{msg}}</div>
            <div {% if status != 0 %} hidden {% endif %} class="alert alert-danger" role="alert">There's Error !</div>
            
            <form class="needs-validation" action="{{ url_for('settings') }}" method="POST">
                <spam class="card-description text-muted h6">click on the title of library to see the items.</spam>
                <div class="row mt-3">
                    <div class="col-md-3">
                        <h5 data-bs-toggle="collapse" href="#categ-Equipment" role="button" aria-expanded="false" aria-controls="categ-Equipment"><i class="dropdown-item-icon mdi mdi-arrow-right-bold-circle text-primary"></i> Equipments</h5>

                        <div class="collapse" id="categ-Equipment">
                            {% for equipment in equipments %}
                            <div id="row-Equipment-{{equipment[0]}}" class="row mb-1">
                                <div class="col-md-10">
                                    <input id="Equipment-{{equipment[0]}}" name="Equipment-{{equipment[0]}}" readonly type="text" value="{{ equipment[1] }}" class="form-control form-control-sm equipment-input" />
                                </div>
                                <input id="Equipment-id" type="hidden" value="{{ equipment[0] }}" />
                                <div class="col-md-1">
                                    <a id="Equipment-editIcon-{{equipment[0]}}" href="#/" onclick="editItem('Equipment-{{equipment[0]}}')"><i class="dropdown-item-icon mdi mdi-border-color text-primary me-2"></i></a>
                                    <a id="Equipment-thump-{{equipment[0]}}" hidden href="#/" onclick="doneEdit('Equipment-{{equipment[0]}}')"><i class="dropdown-item-icon mdi mdi-thumb-up text-primary me-2"></i></a>
                                </div>
                                <div class="col-md-1">
                                    <a href="#/" onclick="deleteItem('Equipment-{{equipment[0]}}')"><i class="dropdown-item-icon mdi mdi-delete text-primary me-2"></i></a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="row mb-1">
                            <div class="col-md-10">
                                <input id="add-Equipment" type="text" class="form-control form-control-sm" placeholder="Add" />
                            </div>
                            <div class="col-md-2">
                                <button onclick="addItem('Equipment')" type="button" class="btn btn-inverse-primary btn-rounded btn-sm">+</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h5 data-bs-toggle="collapse" href="#categ-Model" role="button" aria-expanded="false" aria-controls="categ-Model"><i class="dropdown-item-icon mdi mdi-arrow-right-bold-circle text-primary"></i> Models</h5>                     
                        <div class="collapse" id="categ-Model">
                            {% for model in models %}
                            <div id="row-Model-{{model[0]}}" class="row mb-1">
                                <div class="col-md-5">
                                    <input id="Model-{{model[0]}}-1"  readonly type="text" value="{{ model[1] }}" class="form-control form-control-sm" />
                                </div>
                                <div class="col-md-5">
                                    <select id="Model-{{model[0]}}-2" disabled="true" class="form-control form-control-sm">
                                        {% for equipment in equipments %}
                                        <option {% if equipment[1] ==  model[2] %} selected="selected" {% endif %}>{{ equipment[1] }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <input id="Model-id" type="hidden" value="{{ model[0] }}" />
                                <div class="col-md-1">
                                    <a id="Model-editIcon-{{model[0]}}" href="#/" onclick="editItem('Model-{{model[0]}}')"><i class="dropdown-item-icon mdi mdi-border-color text-primary me-2"></i></a>
                                    <a id="Model-thump-{{model[0]}}" hidden href="#/" onclick="doneEdit('Model-{{model[0]}}')"><i class="dropdown-item-icon mdi mdi-thumb-up text-primary me-2"></i></a>
                                </div>
                                <div class="col-md-1">
                                    <a href="#/" onclick="deleteItem('Model-{{model[0]}}')"><i class="dropdown-item-icon mdi mdi-delete text-primary me-2"></i></a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>                  
                        <div class="row mb-1">
                            <div class="col-md-5">
                                <input id="add-Model" type="text" class="form-control form-control-sm" placeholder="Add" />
                            </div>
                            <div class="col-md-5">
                                <select id="add-Model-equipment" class="form-control form-control-sm">
                                    <option selected="selected" value="">Choose...</option>
                                    {% for equipment in equipments %}
                                    <option>{{ equipment[1] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-2">
                                <button onclick="addItem('Model')" type="button" class="btn btn-inverse-primary btn-rounded btn-sm">+</button>
                            </div>
                        </div>        
                    </div>
                    <div class="col-md-3">
                        <h5 data-bs-toggle="collapse" href="#categ-Manufacturer" role="button" aria-expanded="false" aria-controls="categ-Manufacturer"><i class="dropdown-item-icon mdi mdi-arrow-right-bold-circle text-primary"></i> Manufacturers</h5>                   
                        <div class="collapse" id="categ-Manufacturer">
                            {% for manufacturer in manufacturers %}
                            <div id="row-Manufacturer-{{manufacturer[0]}}" class="row mb-1">
                                <div class="col-sm-10">
                                    <input id="Manufacturer-{{manufacturer[0]}}" readonly type="text" value="{{ manufacturer[1] }}" class="form-control form-control-sm" />
                                </div>
                                <input id="Manufacturer-id" type="hidden" value="{{ manufacturer[0] }}" />
                                <div class="col-sm-1">
                                    <a id="Manufacturer-editIcon-{{manufacturer[0]}}" href="#/" onclick="editItem('Manufacturer-{{manufacturer[0]}}')"><i class="dropdown-item-icon mdi mdi-border-color text-primary"></i></a>
                                    <a id="Manufacturer-thump-{{manufacturer[0]}}" hidden href="#/" onclick="doneEdit('Manufacturer-{{manufacturer[0]}}')"><i class="dropdown-item-icon mdi mdi-thumb-up text-primary"></i></a>
                                </div>
                                <div class="col-sm-1">
                                    <a href="#/" onclick="deleteItem('Manufacturer-{{manufacturer[0]}}')"><i class="dropdown-item-icon mdi mdi-delete text-primary"></i></a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="row mb-1">
                            <div class="col-md-10">
                                <input id="add-Manufacturer" type="text" class="form-control form-control-sm" placeholder="Add" />
                            </div>
                            <div class="col-md-2">
                                <button onclick="addItem('Manufacturer')" type="button" class="btn btn-inverse-primary btn-rounded btn-sm">+</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h5 data-bs-toggle="collapse" href="#categ-Location" role="button" aria-expanded="false" aria-controls="categ-Location"><i class="dropdown-item-icon mdi mdi-arrow-right-bold-circle text-primary"></i> Locations</h5>
                        <div class="collapse" id="categ-Location">
                            {% for location in locations %}
                            <div id="row-Location-{{location[0]}}" class="row mb-1">
                                <div class="col-md-10">
                                    <input id="Location-{{location[0]}}" readonly type="text" value="{{ location[1] }}" class="form-control form-control-sm" />
                                </div>
                                <input id="Location-id" type="hidden" value="{{ location[0] }}" />
                                <div class="col-md-1">
                                    <a id="Location-editIcon-{{location[0]}}" href="#/" onclick="editItem('Location-{{location[0]}}')"><i class="dropdown-item-icon mdi mdi-border-color text-primary me-2"></i></a>
                                    <a id="Location-thump-{{location[0]}}" hidden href="#/" onclick="doneEdit('Location-{{location[0]}}')"><i class="dropdown-item-icon mdi mdi-thumb-up text-primary me-2"></i></a>                                </div>
                                <div class="col-md-1">
                                    <a href="#/" onclick="deleteItem('Location-{{location[0]}}')"><i class="dropdown-item-icon mdi mdi-delete text-primary me-2"></i></a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>

                        <div class="row mb-1">
                            <div class="col-md-10">
                                <input id="add-Location" type="text" class="form-control form-control-sm" placeholder="Add" />
                            </div>
                            <div class="col-md-2">
                                <button onclick="addItem('Location')" type="button" class="btn btn-inverse-primary btn-rounded btn-sm">+</button>
                            </div>
                        </div>                        
                    </div>
                </div>
                <div hidden class="row">
                    <div class="col-md-12">
                       <textarea style="width: inherit;" id="statments" name="statments" rows="5"></textarea>
                    </div>
                </div>                
                <div class="mt-4 text-end">
                    <input class="btn btn-primary" value="SAVE" name="settings" type="submit">
                </div>

                <hr>

                <spam class="card-description text-muted h6">Edit your information</spam>
                <div class="col-md-12  mt-3">
                    <div class="mb-3 row">
                        <label for="username" class="col-sm-2 col-form-label">Username</label>
                        <div class="col-sm-10">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="username">@</span>
                                <input aria-describedby="username" value="{{ session.username }}" type="text" class="form-control has-validation" id="username" name="username">
                            </div>
                        </div> 
                    </div>
                    <div class="mb-3 row">
                        <label for="password" class="col-sm-2 col-form-label">Old Password</label>
                        <div class="col-sm-10">
                            <input placeholder="Old Password" type="password" class="form-control has-validation" id="old-password" name="old-password" >
                        </div> 
                    </div>
                    <div class="mb-3 row">
                        <label for="password" class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-10">
                            <input onchange="checkRepassword()" placeholder="New Password" type="password" class="form-control has-validation" id="password" name="password">
                        </div> 
                    </div>
                    <div class="mb-3 row">
                        <label for="re-password" class="col-sm-2 col-form-label">Confirm Password</label>
                        <div class="col-sm-10">
                          <input onchange="checkRepassword()" placeholder="Confirm New Password" type="password" class="form-control has-validation" id="re-password" name="re-password" >
                          <div class="col-auto">
                            <span id="repasswordHelpInline" class="form-text">
                              Must be same as new password.
                            </span>
                          </div>
                        </div> 
                    </div>
                    <input id="adminchange" class="btn btn-primary float-end" name="settings" value="CHANGE" type="submit">
                </div>    
            </form>

        </div>
    </div>
</div>

{% endblock %}

