img {
    position: relative;
  }
  img:before {
    content: ' ';
    display: block;
    position: inherit;
    height: 140px;
    width: 295px;
    background-color: white;
    background-image:
    url('../images/placeholder_device.svg');
    background-position: center;
    background-size: contain;
  }


/* Add.html */

.rect {
    border: solid #c9c9c9 1px;
    padding: 30px 20px 0px 20px;
    border-radius: 10px;
    margin-bottom: 25px;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(240,242,255,1) 57%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(240,242,255,1) 57%, rgba(255,255,255,1) 100%);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(240,242,255,1) 57%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
}

.rect label{
    line-height: 15px;
    font-size: 14px;
    font-weight: bold;
}

.twitter-typeahead{
    display: block !important;
}

.tt-menu {
    background-color: white;
}

.periods label{
    line-height: 0;
    font-size: 15px;
    font-weight: bold;
}

#qrcode img{
    border: 8px solid #000000d4;
    border-radius: 4px;
}

#qrcodeDiv img{
    border: 8px solid #000000d4;
    border-radius: 4px;
    max-height: 500px;
}

.devicePic{
    width: 300px !important;
    height: 300px !important;
    border-radius: 0 !important;
}

.search-item-link i{
    font-size: 26px;   
}

/* R */

.form-1-box fieldset {
    background: #d1d1d124;
    padding-top: 0px !important;
}

.form-1-box legend {
    font-size: inherit;
    line-height: 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: #555;
    float: none;
}
 
.form-1-box .form-check-label {
    line-height: 1.5;
    vertical-align: top;
    margin-left: 0;
}
 
.form-1-box input[type="text"] {
    background: none;
    border: 1px solid #ddd;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #888;
    box-shadow: none;
}

.form-1-box input[type="text"]:focus {
    outline: 0;
    background: none;
    border: 1px solid #db5d50;
    box-shadow: none;
}
 
.form-1-box input[type="text"]::-moz-placeholder {
    color: #bbb;
    font-style: italic;
}
 
.form-1-box input[type="text"]:-ms-input-placeholder {
    color: #bbb;
    font-style: italic;
}
 
.form-1-box input[type="text"]::-webkit-input-placeholder {
    color: #bbb;
    font-style: italic;
}

.form-check {
    padding-left: 1.5em;
}

.img-checkbox{
    width: 36px;
    height: 36px;
    border-radius: 100%;
}

.canvasList { 
    max-height: 800px;
    max-width: 600px;
    border: 3px solid rgba(0,0,0,.5); 
}

.printButt{
    padding: 8px 15px;
    border: 1px solid #CADDFF;
    box-sizing: border-box;
    border-radius: 6px;
    color: #000000;
    font-weight: 500;
    font-size: 12px;
}
