/* Dashboard */
.navbar{
    display: none !important;
}

.sidebar{
    display: none !important;
}

.container-fluid{
    margin-top: -100px;
}

.main-panel{
    width: 100%;
}

.footer{
    display: none !important;
}


/* Devices Page */

.search-card{
    display: none;
}